:root {
    --primary-red: #CB1217;
    --light-color: #FFFFFFA6;
}
* {
    font-family: monospace;
}
header {
    margin-left: 10%;
    height: 150px;
    background-color: var(--primary-red);
    color: white;
}

.header-container {
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    flex-wrap: wrap;
}

h1 {
    margin-left: 15px;
}
.site-nav ul {
    text-align: center;
}

.site-nav li {
    display: inline;
    font-size: 16px;
    margin: 10px;
}



body {
    background-color: #312E2B;
    color: var(--text-color);
}
.about-me {
    margin-left: 10%;
    position: relative;
}
.about-me .description {
    position: absolute;
    top: 60px;
    left: 60px;
    border: 3px solid var(--light-color);
    background-color: gray;
    color: #000000;
    width: 25%;
    font-size: 18px;
    
}
/*project section*/
.flexbox-container {
    display: flex;
    justify-content: space-between;
    margin-left: 10%;
}

.flexbox-item {
    border: 3px solid var(--light-color);
    background-color: gray;
    min-width: 200px;
}

.project-primary {
    min-height: 250px;
    min-width: 400px;
    background-image: url(/assets/project1.png);
}

.project-two {
    background-image: url(/assets/project2.png);
}
.project-three {
    background-image: url(/assets/project3.png);
}
.project-four {
    background-image: url(/assets/project4.png);
}
.project-five {
    background-image: url(/assets/project5.png);
}
.flexbox-item h4 {
    background-color: var(--light-color);
    color: rgb(61, 61, 61);
}


footer {
    margin-left: 10%;
    height: 150px;
    background-color: var(--primary-red);
    color: white;

}

.footer-container {
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    flex-wrap: wrap;
    color: white;
}

h1 {
    margin-left: 15px;
}
.connection-nav ul {
    text-align: center;
    color: white;
}

.connection-nav li {
    display: inline;
    font-size: 16px;
    margin: 10px;
    text-decoration: none;
}
